{{- $LastModifierDisplayName := "" }}
{{- $LastModifierEmail := "" }}
{{- $Date := "" }}
{{- $dateFormat := site.Params.dateFormat | default ":date_medium" }}
{{- with .GitInfo }}
  {{- with and (not site.Params.hideAuthorName) .AuthorName }}
    {{- $LastModifierDisplayName = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorEmail) .AuthorEmail }}
    {{- $LastModifierEmail = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorDate) .AuthorDate }}
    {{- $Date = . | time.Format $dateFormat }}
  {{- end }}
{{- else }}
  {{- with and (not site.Params.hideAuthorName) .Params.LastModifierDisplayName }}
    {{- $LastModifierDisplayName = . }}
  {{- end }}
  {{- with and (not site.Params.hideAuthorEmail) .Params.LastModifierEmail }}
    {{- $LastModifierEmail = . }}
  {{- end }}
  {{- /* Use page date if available, otherwise use current time */}}
  {{- if not site.Params.hideAuthorDate }}
    {{- if .Date }}
      {{- $Date = .Date | time.Format $dateFormat }}
    {{- else }}
      {{- $Date = now | time.Format $dateFormat }}
    {{- end }}
  {{- end }}
{{- end }}
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "categories"
  "icon" "layer-group"
) }}
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "tags"
  "style" "note"
  "icon" "tags"
) }}
{{- partial "term-list.html" (dict
  "page" .
  "taxonomy" "doc-type"
  "style" "info"
  "icon" "layer-group"
) }}
<hr>
Last Modified
{{- if $LastModifierDisplayName }}
              by <i class='fa-fw fas fa-user'></i> {{ with $LastModifierEmail }}<a href="mailto:{{ . }}">{{ end }}{{ $LastModifierDisplayName }}{{ with $LastModifierEmail }}</a>{{ end }}
{{- end }}
{{- with $Date }}
              on <i class='fa-fw fas fa-calendar'></i> {{ . }}
{{- end }}
{{- $copyrightText := site.Copyright | default "Digital Engineering Service @ OUH" }}
{{- with $copyrightText }}
    <div class="copyright">
      &copy;2023-{{ now.Format "2006" }} {{ . | markdownify | safeHTML }}
    </div>
{{- end }}
